:root {
    --hex_ratio: 0.86602540378;
    --tile_width: min(calc((100vw - 16em) / 12), calc(100vh / 13));
    --tile_height: calc(var(--tile_width) * var(--hex_ratio));
    --border_width: 4%;
    --hr1: 25%;
    --hr2: 75%;
    --x_dim_x: calc(var(--border_width) - var(--hr2));
    --x_dim_y: calc(50% - var(--border_width));
    --y_dim_x: 0%;
    --y_dim_y: calc(var(--border_width) - 100%);
    --z_dim_x: calc(var(--hr2) - var(--border_width));
    --z_dim_y: calc(50% - var(--border_width));
}

body {
    background-color: black;
}

button {
    width: 8em;
}

.hexagon-border {
    width: var(--tile_width);
    height: var(--tile_height);
    background: white;
    -webkit-clip-path: polygon(var(--hr1) 0%, var(--hr2) 0%, 100% 50%, var(--hr2) 100%, var(--hr1) 100%, 0% 50%);
    clip-path: polygon(var(--hr1) 0%, var(--hr2) 0%, 100% 50%, var(--hr2) 100%, var(--hr1) 100%, 0% 50%);
}

.hexagon-border:not(.home):hover {
    cursor: pointer;
}

.hexagon-inner {
    position: relative;
    top: var(--border_width);
    left: var(--border_width);
    background: black;
    height: calc(100% - 2 * var(--border_width));
    width: calc(100% - 2 * var(--border_width));
    -webkit-clip-path: polygon(var(--hr1) 0%, var(--hr2) 0%, 100% 50%, var(--hr2) 100%, var(--hr1) 100%, 0% 50%);
    clip-path: polygon(var(--hr1) 0%, var(--hr2) 0%, 100% 50%, var(--hr2) 100%, var(--hr1) 100%, 0% 50%);
}

.hexagon-border:hover > [class="hexagon-inner"] {
    background: #2f2f2f;
    filter: brightness(90%);
}

.hexagon-border:not(.home):hover > div:not([class="hexagon-inner"]) {
    filter: brightness(90%);
}

img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}

.banner, .relic {
    width: 55%;
}

.red {
    background: #E55049;
}

.green {
    background: #62BE72;
}

.blue {
    background: #4EADEA;
}

.yellow {
    background: #F2CC45;
}

.pink {
    background: #EC8AB8;
}

.purple {
    background: #A05FF0;
}

.tile {
    position: absolute;
    top: 50%;
    left: 50%;
}

.x0y0z0 {
    transform: translate(-50%, -50%);
}

.x0y1z0 {
    transform: translate(-50%, -50%) translate(calc(0 * var(--x_dim_x) + 1 * var(--y_dim_x)), calc(0 * var(--x_dim_y) + 1 * var(--y_dim_y)));
}

.x0y2z0 {
    transform: translate(-50%, -50%) translate(calc(0 * var(--x_dim_x) + 2 * var(--y_dim_x)), calc(0 * var(--x_dim_y) + 2 * var(--y_dim_y)));
}

.x0y3z0 {
    transform: translate(-50%, -50%) translate(calc(0 * var(--x_dim_x) + 3 * var(--y_dim_x)), calc(0 * var(--x_dim_y) + 3 * var(--y_dim_y)));
}

.x0y4z0 {
    transform: translate(-50%, -50%) translate(calc(0 * var(--x_dim_x) + 4 * var(--y_dim_x)), calc(0 * var(--x_dim_y) + 4 * var(--y_dim_y)));
}

.x0y5z0 {
    transform: translate(-50%, -50%) translate(calc(0 * var(--x_dim_x) + 5 * var(--y_dim_x)), calc(0 * var(--x_dim_y) + 5 * var(--y_dim_y)));
}

.x0y6z0 {
    transform: translate(-50%, -50%) translate(calc(0 * var(--x_dim_x) + 6 * var(--y_dim_x)), calc(0 * var(--x_dim_y) + 6 * var(--y_dim_y)));
}

.x0y7z0 {
    transform: translate(-50%, -50%) translate(calc(0 * var(--x_dim_x) + 7 * var(--y_dim_x)), calc(0 * var(--x_dim_y) + 7 * var(--y_dim_y)));
}

.x1y0z0 {
    transform: translate(-50%, -50%) translate(calc(1 * var(--x_dim_x) + 0 * var(--y_dim_x)), calc(1 * var(--x_dim_y) + 0 * var(--y_dim_y)));
}

.x1y1z0 {
    transform: translate(-50%, -50%) translate(calc(1 * var(--x_dim_x) + 1 * var(--y_dim_x)), calc(1 * var(--x_dim_y) + 1 * var(--y_dim_y)));
}

.x1y2z0 {
    transform: translate(-50%, -50%) translate(calc(1 * var(--x_dim_x) + 2 * var(--y_dim_x)), calc(1 * var(--x_dim_y) + 2 * var(--y_dim_y)));
}

.x1y3z0 {
    transform: translate(-50%, -50%) translate(calc(1 * var(--x_dim_x) + 3 * var(--y_dim_x)), calc(1 * var(--x_dim_y) + 3 * var(--y_dim_y)));
}

.x1y4z0 {
    transform: translate(-50%, -50%) translate(calc(1 * var(--x_dim_x) + 4 * var(--y_dim_x)), calc(1 * var(--x_dim_y) + 4 * var(--y_dim_y)));
}

.x1y5z0 {
    transform: translate(-50%, -50%) translate(calc(1 * var(--x_dim_x) + 5 * var(--y_dim_x)), calc(1 * var(--x_dim_y) + 5 * var(--y_dim_y)));
}

.x1y6z0 {
    transform: translate(-50%, -50%) translate(calc(1 * var(--x_dim_x) + 6 * var(--y_dim_x)), calc(1 * var(--x_dim_y) + 6 * var(--y_dim_y)));
}

.x1y7z0 {
    transform: translate(-50%, -50%) translate(calc(1 * var(--x_dim_x) + 7 * var(--y_dim_x)), calc(1 * var(--x_dim_y) + 7 * var(--y_dim_y)));
}

.x2y0z0 {
    transform: translate(-50%, -50%) translate(calc(2 * var(--x_dim_x) + 0 * var(--y_dim_x)), calc(2 * var(--x_dim_y) + 0 * var(--y_dim_y)));
}

.x2y1z0 {
    transform: translate(-50%, -50%) translate(calc(2 * var(--x_dim_x) + 1 * var(--y_dim_x)), calc(2 * var(--x_dim_y) + 1 * var(--y_dim_y)));
}

.x2y2z0 {
    transform: translate(-50%, -50%) translate(calc(2 * var(--x_dim_x) + 2 * var(--y_dim_x)), calc(2 * var(--x_dim_y) + 2 * var(--y_dim_y)));
}

.x2y3z0 {
    transform: translate(-50%, -50%) translate(calc(2 * var(--x_dim_x) + 3 * var(--y_dim_x)), calc(2 * var(--x_dim_y) + 3 * var(--y_dim_y)));
}

.x2y4z0 {
    transform: translate(-50%, -50%) translate(calc(2 * var(--x_dim_x) + 4 * var(--y_dim_x)), calc(2 * var(--x_dim_y) + 4 * var(--y_dim_y)));
}

.x2y5z0 {
    transform: translate(-50%, -50%) translate(calc(2 * var(--x_dim_x) + 5 * var(--y_dim_x)), calc(2 * var(--x_dim_y) + 5 * var(--y_dim_y)));
}

.x2y6z0 {
    transform: translate(-50%, -50%) translate(calc(2 * var(--x_dim_x) + 6 * var(--y_dim_x)), calc(2 * var(--x_dim_y) + 6 * var(--y_dim_y)));
}

.x2y7z0 {
    transform: translate(-50%, -50%) translate(calc(2 * var(--x_dim_x) + 7 * var(--y_dim_x)), calc(2 * var(--x_dim_y) + 7 * var(--y_dim_y)));
}

.x3y0z0 {
    transform: translate(-50%, -50%) translate(calc(3 * var(--x_dim_x) + 0 * var(--y_dim_x)), calc(3 * var(--x_dim_y) + 0 * var(--y_dim_y)));
}

.x3y1z0 {
    transform: translate(-50%, -50%) translate(calc(3 * var(--x_dim_x) + 1 * var(--y_dim_x)), calc(3 * var(--x_dim_y) + 1 * var(--y_dim_y)));
}

.x3y2z0 {
    transform: translate(-50%, -50%) translate(calc(3 * var(--x_dim_x) + 2 * var(--y_dim_x)), calc(3 * var(--x_dim_y) + 2 * var(--y_dim_y)));
}

.x3y3z0 {
    transform: translate(-50%, -50%) translate(calc(3 * var(--x_dim_x) + 3 * var(--y_dim_x)), calc(3 * var(--x_dim_y) + 3 * var(--y_dim_y)));
}

.x3y4z0 {
    transform: translate(-50%, -50%) translate(calc(3 * var(--x_dim_x) + 4 * var(--y_dim_x)), calc(3 * var(--x_dim_y) + 4 * var(--y_dim_y)));
}

.x3y5z0 {
    transform: translate(-50%, -50%) translate(calc(3 * var(--x_dim_x) + 5 * var(--y_dim_x)), calc(3 * var(--x_dim_y) + 5 * var(--y_dim_y)));
}

.x3y6z0 {
    transform: translate(-50%, -50%) translate(calc(3 * var(--x_dim_x) + 6 * var(--y_dim_x)), calc(3 * var(--x_dim_y) + 6 * var(--y_dim_y)));
}

.x3y7z0 {
    transform: translate(-50%, -50%) translate(calc(3 * var(--x_dim_x) + 7 * var(--y_dim_x)), calc(3 * var(--x_dim_y) + 7 * var(--y_dim_y)));
}

.x4y0z0 {
    transform: translate(-50%, -50%) translate(calc(4 * var(--x_dim_x) + 0 * var(--y_dim_x)), calc(4 * var(--x_dim_y) + 0 * var(--y_dim_y)));
}

.x4y1z0 {
    transform: translate(-50%, -50%) translate(calc(4 * var(--x_dim_x) + 1 * var(--y_dim_x)), calc(4 * var(--x_dim_y) + 1 * var(--y_dim_y)));
}

.x4y2z0 {
    transform: translate(-50%, -50%) translate(calc(4 * var(--x_dim_x) + 2 * var(--y_dim_x)), calc(4 * var(--x_dim_y) + 2 * var(--y_dim_y)));
}

.x4y3z0 {
    transform: translate(-50%, -50%) translate(calc(4 * var(--x_dim_x) + 3 * var(--y_dim_x)), calc(4 * var(--x_dim_y) + 3 * var(--y_dim_y)));
}

.x4y4z0 {
    transform: translate(-50%, -50%) translate(calc(4 * var(--x_dim_x) + 4 * var(--y_dim_x)), calc(4 * var(--x_dim_y) + 4 * var(--y_dim_y)));
}

.x4y5z0 {
    transform: translate(-50%, -50%) translate(calc(4 * var(--x_dim_x) + 5 * var(--y_dim_x)), calc(4 * var(--x_dim_y) + 5 * var(--y_dim_y)));
}

.x4y6z0 {
    transform: translate(-50%, -50%) translate(calc(4 * var(--x_dim_x) + 6 * var(--y_dim_x)), calc(4 * var(--x_dim_y) + 6 * var(--y_dim_y)));
}

.x4y7z0 {
    transform: translate(-50%, -50%) translate(calc(4 * var(--x_dim_x) + 7 * var(--y_dim_x)), calc(4 * var(--x_dim_y) + 7 * var(--y_dim_y)));
}

.x5y0z0 {
    transform: translate(-50%, -50%) translate(calc(5 * var(--x_dim_x) + 0 * var(--y_dim_x)), calc(5 * var(--x_dim_y) + 0 * var(--y_dim_y)));
}

.x5y1z0 {
    transform: translate(-50%, -50%) translate(calc(5 * var(--x_dim_x) + 1 * var(--y_dim_x)), calc(5 * var(--x_dim_y) + 1 * var(--y_dim_y)));
}

.x5y2z0 {
    transform: translate(-50%, -50%) translate(calc(5 * var(--x_dim_x) + 2 * var(--y_dim_x)), calc(5 * var(--x_dim_y) + 2 * var(--y_dim_y)));
}

.x5y3z0 {
    transform: translate(-50%, -50%) translate(calc(5 * var(--x_dim_x) + 3 * var(--y_dim_x)), calc(5 * var(--x_dim_y) + 3 * var(--y_dim_y)));
}

.x5y4z0 {
    transform: translate(-50%, -50%) translate(calc(5 * var(--x_dim_x) + 4 * var(--y_dim_x)), calc(5 * var(--x_dim_y) + 4 * var(--y_dim_y)));
}

.x5y5z0 {
    transform: translate(-50%, -50%) translate(calc(5 * var(--x_dim_x) + 5 * var(--y_dim_x)), calc(5 * var(--x_dim_y) + 5 * var(--y_dim_y)));
}

.x5y6z0 {
    transform: translate(-50%, -50%) translate(calc(5 * var(--x_dim_x) + 6 * var(--y_dim_x)), calc(5 * var(--x_dim_y) + 6 * var(--y_dim_y)));
}

.x5y7z0 {
    transform: translate(-50%, -50%) translate(calc(5 * var(--x_dim_x) + 7 * var(--y_dim_x)), calc(5 * var(--x_dim_y) + 7 * var(--y_dim_y)));
}

.x6y0z0 {
    transform: translate(-50%, -50%) translate(calc(6 * var(--x_dim_x) + 0 * var(--y_dim_x)), calc(6 * var(--x_dim_y) + 0 * var(--y_dim_y)));
}

.x6y1z0 {
    transform: translate(-50%, -50%) translate(calc(6 * var(--x_dim_x) + 1 * var(--y_dim_x)), calc(6 * var(--x_dim_y) + 1 * var(--y_dim_y)));
}

.x6y2z0 {
    transform: translate(-50%, -50%) translate(calc(6 * var(--x_dim_x) + 2 * var(--y_dim_x)), calc(6 * var(--x_dim_y) + 2 * var(--y_dim_y)));
}

.x6y3z0 {
    transform: translate(-50%, -50%) translate(calc(6 * var(--x_dim_x) + 3 * var(--y_dim_x)), calc(6 * var(--x_dim_y) + 3 * var(--y_dim_y)));
}

.x6y4z0 {
    transform: translate(-50%, -50%) translate(calc(6 * var(--x_dim_x) + 4 * var(--y_dim_x)), calc(6 * var(--x_dim_y) + 4 * var(--y_dim_y)));
}

.x6y5z0 {
    transform: translate(-50%, -50%) translate(calc(6 * var(--x_dim_x) + 5 * var(--y_dim_x)), calc(6 * var(--x_dim_y) + 5 * var(--y_dim_y)));
}

.x6y6z0 {
    transform: translate(-50%, -50%) translate(calc(6 * var(--x_dim_x) + 6 * var(--y_dim_x)), calc(6 * var(--x_dim_y) + 6 * var(--y_dim_y)));
}

.x6y7z0 {
    transform: translate(-50%, -50%) translate(calc(6 * var(--x_dim_x) + 7 * var(--y_dim_x)), calc(6 * var(--x_dim_y) + 7 * var(--y_dim_y)));
}

.x7y0z0 {
    transform: translate(-50%, -50%) translate(calc(7 * var(--x_dim_x) + 0 * var(--y_dim_x)), calc(7 * var(--x_dim_y) + 0 * var(--y_dim_y)));
}

.x7y1z0 {
    transform: translate(-50%, -50%) translate(calc(7 * var(--x_dim_x) + 1 * var(--y_dim_x)), calc(7 * var(--x_dim_y) + 1 * var(--y_dim_y)));
}

.x7y2z0 {
    transform: translate(-50%, -50%) translate(calc(7 * var(--x_dim_x) + 2 * var(--y_dim_x)), calc(7 * var(--x_dim_y) + 2 * var(--y_dim_y)));
}

.x7y3z0 {
    transform: translate(-50%, -50%) translate(calc(7 * var(--x_dim_x) + 3 * var(--y_dim_x)), calc(7 * var(--x_dim_y) + 3 * var(--y_dim_y)));
}

.x7y4z0 {
    transform: translate(-50%, -50%) translate(calc(7 * var(--x_dim_x) + 4 * var(--y_dim_x)), calc(7 * var(--x_dim_y) + 4 * var(--y_dim_y)));
}

.x7y5z0 {
    transform: translate(-50%, -50%) translate(calc(7 * var(--x_dim_x) + 5 * var(--y_dim_x)), calc(7 * var(--x_dim_y) + 5 * var(--y_dim_y)));
}

.x7y6z0 {
    transform: translate(-50%, -50%) translate(calc(7 * var(--x_dim_x) + 6 * var(--y_dim_x)), calc(7 * var(--x_dim_y) + 6 * var(--y_dim_y)));
}

.x7y7z0 {
    transform: translate(-50%, -50%) translate(calc(7 * var(--x_dim_x) + 7 * var(--y_dim_x)), calc(7 * var(--x_dim_y) + 7 * var(--y_dim_y)));
}

.x0y0z1 {
    transform: translate(-50%, -50%) translate(calc(0 * var(--y_dim_x) + 1 * var(--z_dim_x)), calc(0 * var(--y_dim_y) + 1 * var(--z_dim_y)));
}

.x0y0z2 {
    transform: translate(-50%, -50%) translate(calc(0 * var(--y_dim_x) + 2 * var(--z_dim_x)), calc(0 * var(--y_dim_y) + 2 * var(--z_dim_y)));
}

.x0y0z3 {
    transform: translate(-50%, -50%) translate(calc(0 * var(--y_dim_x) + 3 * var(--z_dim_x)), calc(0 * var(--y_dim_y) + 3 * var(--z_dim_y)));
}

.x0y0z4 {
    transform: translate(-50%, -50%) translate(calc(0 * var(--y_dim_x) + 4 * var(--z_dim_x)), calc(0 * var(--y_dim_y) + 4 * var(--z_dim_y)));
}

.x0y0z5 {
    transform: translate(-50%, -50%) translate(calc(0 * var(--y_dim_x) + 5 * var(--z_dim_x)), calc(0 * var(--y_dim_y) + 5 * var(--z_dim_y)));
}

.x0y0z6 {
    transform: translate(-50%, -50%) translate(calc(0 * var(--y_dim_x) + 6 * var(--z_dim_x)), calc(0 * var(--y_dim_y) + 6 * var(--z_dim_y)));
}

.x0y0z7 {
    transform: translate(-50%, -50%) translate(calc(0 * var(--y_dim_x) + 7 * var(--z_dim_x)), calc(0 * var(--y_dim_y) + 7 * var(--z_dim_y)));
}

.x0y1z0 {
    transform: translate(-50%, -50%) translate(calc(1 * var(--y_dim_x) + 0 * var(--z_dim_x)), calc(1 * var(--y_dim_y) + 0 * var(--z_dim_y)));
}

.x0y1z1 {
    transform: translate(-50%, -50%) translate(calc(1 * var(--y_dim_x) + 1 * var(--z_dim_x)), calc(1 * var(--y_dim_y) + 1 * var(--z_dim_y)));
}

.x0y1z2 {
    transform: translate(-50%, -50%) translate(calc(1 * var(--y_dim_x) + 2 * var(--z_dim_x)), calc(1 * var(--y_dim_y) + 2 * var(--z_dim_y)));
}

.x0y1z3 {
    transform: translate(-50%, -50%) translate(calc(1 * var(--y_dim_x) + 3 * var(--z_dim_x)), calc(1 * var(--y_dim_y) + 3 * var(--z_dim_y)));
}

.x0y1z4 {
    transform: translate(-50%, -50%) translate(calc(1 * var(--y_dim_x) + 4 * var(--z_dim_x)), calc(1 * var(--y_dim_y) + 4 * var(--z_dim_y)));
}

.x0y1z5 {
    transform: translate(-50%, -50%) translate(calc(1 * var(--y_dim_x) + 5 * var(--z_dim_x)), calc(1 * var(--y_dim_y) + 5 * var(--z_dim_y)));
}

.x0y1z6 {
    transform: translate(-50%, -50%) translate(calc(1 * var(--y_dim_x) + 6 * var(--z_dim_x)), calc(1 * var(--y_dim_y) + 6 * var(--z_dim_y)));
}

.x0y1z7 {
    transform: translate(-50%, -50%) translate(calc(1 * var(--y_dim_x) + 7 * var(--z_dim_x)), calc(1 * var(--y_dim_y) + 7 * var(--z_dim_y)));
}

.x0y2z0 {
    transform: translate(-50%, -50%) translate(calc(2 * var(--y_dim_x) + 0 * var(--z_dim_x)), calc(2 * var(--y_dim_y) + 0 * var(--z_dim_y)));
}

.x0y2z1 {
    transform: translate(-50%, -50%) translate(calc(2 * var(--y_dim_x) + 1 * var(--z_dim_x)), calc(2 * var(--y_dim_y) + 1 * var(--z_dim_y)));
}

.x0y2z2 {
    transform: translate(-50%, -50%) translate(calc(2 * var(--y_dim_x) + 2 * var(--z_dim_x)), calc(2 * var(--y_dim_y) + 2 * var(--z_dim_y)));
}

.x0y2z3 {
    transform: translate(-50%, -50%) translate(calc(2 * var(--y_dim_x) + 3 * var(--z_dim_x)), calc(2 * var(--y_dim_y) + 3 * var(--z_dim_y)));
}

.x0y2z4 {
    transform: translate(-50%, -50%) translate(calc(2 * var(--y_dim_x) + 4 * var(--z_dim_x)), calc(2 * var(--y_dim_y) + 4 * var(--z_dim_y)));
}

.x0y2z5 {
    transform: translate(-50%, -50%) translate(calc(2 * var(--y_dim_x) + 5 * var(--z_dim_x)), calc(2 * var(--y_dim_y) + 5 * var(--z_dim_y)));
}

.x0y2z6 {
    transform: translate(-50%, -50%) translate(calc(2 * var(--y_dim_x) + 6 * var(--z_dim_x)), calc(2 * var(--y_dim_y) + 6 * var(--z_dim_y)));
}

.x0y2z7 {
    transform: translate(-50%, -50%) translate(calc(2 * var(--y_dim_x) + 7 * var(--z_dim_x)), calc(2 * var(--y_dim_y) + 7 * var(--z_dim_y)));
}

.x0y3z0 {
    transform: translate(-50%, -50%) translate(calc(3 * var(--y_dim_x) + 0 * var(--z_dim_x)), calc(3 * var(--y_dim_y) + 0 * var(--z_dim_y)));
}

.x0y3z1 {
    transform: translate(-50%, -50%) translate(calc(3 * var(--y_dim_x) + 1 * var(--z_dim_x)), calc(3 * var(--y_dim_y) + 1 * var(--z_dim_y)));
}

.x0y3z2 {
    transform: translate(-50%, -50%) translate(calc(3 * var(--y_dim_x) + 2 * var(--z_dim_x)), calc(3 * var(--y_dim_y) + 2 * var(--z_dim_y)));
}

.x0y3z3 {
    transform: translate(-50%, -50%) translate(calc(3 * var(--y_dim_x) + 3 * var(--z_dim_x)), calc(3 * var(--y_dim_y) + 3 * var(--z_dim_y)));
}

.x0y3z4 {
    transform: translate(-50%, -50%) translate(calc(3 * var(--y_dim_x) + 4 * var(--z_dim_x)), calc(3 * var(--y_dim_y) + 4 * var(--z_dim_y)));
}

.x0y3z5 {
    transform: translate(-50%, -50%) translate(calc(3 * var(--y_dim_x) + 5 * var(--z_dim_x)), calc(3 * var(--y_dim_y) + 5 * var(--z_dim_y)));
}

.x0y3z6 {
    transform: translate(-50%, -50%) translate(calc(3 * var(--y_dim_x) + 6 * var(--z_dim_x)), calc(3 * var(--y_dim_y) + 6 * var(--z_dim_y)));
}

.x0y3z7 {
    transform: translate(-50%, -50%) translate(calc(3 * var(--y_dim_x) + 7 * var(--z_dim_x)), calc(3 * var(--y_dim_y) + 7 * var(--z_dim_y)));
}

.x0y4z0 {
    transform: translate(-50%, -50%) translate(calc(4 * var(--y_dim_x) + 0 * var(--z_dim_x)), calc(4 * var(--y_dim_y) + 0 * var(--z_dim_y)));
}

.x0y4z1 {
    transform: translate(-50%, -50%) translate(calc(4 * var(--y_dim_x) + 1 * var(--z_dim_x)), calc(4 * var(--y_dim_y) + 1 * var(--z_dim_y)));
}

.x0y4z2 {
    transform: translate(-50%, -50%) translate(calc(4 * var(--y_dim_x) + 2 * var(--z_dim_x)), calc(4 * var(--y_dim_y) + 2 * var(--z_dim_y)));
}

.x0y4z3 {
    transform: translate(-50%, -50%) translate(calc(4 * var(--y_dim_x) + 3 * var(--z_dim_x)), calc(4 * var(--y_dim_y) + 3 * var(--z_dim_y)));
}

.x0y4z4 {
    transform: translate(-50%, -50%) translate(calc(4 * var(--y_dim_x) + 4 * var(--z_dim_x)), calc(4 * var(--y_dim_y) + 4 * var(--z_dim_y)));
}

.x0y4z5 {
    transform: translate(-50%, -50%) translate(calc(4 * var(--y_dim_x) + 5 * var(--z_dim_x)), calc(4 * var(--y_dim_y) + 5 * var(--z_dim_y)));
}

.x0y4z6 {
    transform: translate(-50%, -50%) translate(calc(4 * var(--y_dim_x) + 6 * var(--z_dim_x)), calc(4 * var(--y_dim_y) + 6 * var(--z_dim_y)));
}

.x0y4z7 {
    transform: translate(-50%, -50%) translate(calc(4 * var(--y_dim_x) + 7 * var(--z_dim_x)), calc(4 * var(--y_dim_y) + 7 * var(--z_dim_y)));
}

.x0y5z0 {
    transform: translate(-50%, -50%) translate(calc(5 * var(--y_dim_x) + 0 * var(--z_dim_x)), calc(5 * var(--y_dim_y) + 0 * var(--z_dim_y)));
}

.x0y5z1 {
    transform: translate(-50%, -50%) translate(calc(5 * var(--y_dim_x) + 1 * var(--z_dim_x)), calc(5 * var(--y_dim_y) + 1 * var(--z_dim_y)));
}

.x0y5z2 {
    transform: translate(-50%, -50%) translate(calc(5 * var(--y_dim_x) + 2 * var(--z_dim_x)), calc(5 * var(--y_dim_y) + 2 * var(--z_dim_y)));
}

.x0y5z3 {
    transform: translate(-50%, -50%) translate(calc(5 * var(--y_dim_x) + 3 * var(--z_dim_x)), calc(5 * var(--y_dim_y) + 3 * var(--z_dim_y)));
}

.x0y5z4 {
    transform: translate(-50%, -50%) translate(calc(5 * var(--y_dim_x) + 4 * var(--z_dim_x)), calc(5 * var(--y_dim_y) + 4 * var(--z_dim_y)));
}

.x0y5z5 {
    transform: translate(-50%, -50%) translate(calc(5 * var(--y_dim_x) + 5 * var(--z_dim_x)), calc(5 * var(--y_dim_y) + 5 * var(--z_dim_y)));
}

.x0y5z6 {
    transform: translate(-50%, -50%) translate(calc(5 * var(--y_dim_x) + 6 * var(--z_dim_x)), calc(5 * var(--y_dim_y) + 6 * var(--z_dim_y)));
}

.x0y5z7 {
    transform: translate(-50%, -50%) translate(calc(5 * var(--y_dim_x) + 7 * var(--z_dim_x)), calc(5 * var(--y_dim_y) + 7 * var(--z_dim_y)));
}

.x0y6z0 {
    transform: translate(-50%, -50%) translate(calc(6 * var(--y_dim_x) + 0 * var(--z_dim_x)), calc(6 * var(--y_dim_y) + 0 * var(--z_dim_y)));
}

.x0y6z1 {
    transform: translate(-50%, -50%) translate(calc(6 * var(--y_dim_x) + 1 * var(--z_dim_x)), calc(6 * var(--y_dim_y) + 1 * var(--z_dim_y)));
}

.x0y6z2 {
    transform: translate(-50%, -50%) translate(calc(6 * var(--y_dim_x) + 2 * var(--z_dim_x)), calc(6 * var(--y_dim_y) + 2 * var(--z_dim_y)));
}

.x0y6z3 {
    transform: translate(-50%, -50%) translate(calc(6 * var(--y_dim_x) + 3 * var(--z_dim_x)), calc(6 * var(--y_dim_y) + 3 * var(--z_dim_y)));
}

.x0y6z4 {
    transform: translate(-50%, -50%) translate(calc(6 * var(--y_dim_x) + 4 * var(--z_dim_x)), calc(6 * var(--y_dim_y) + 4 * var(--z_dim_y)));
}

.x0y6z5 {
    transform: translate(-50%, -50%) translate(calc(6 * var(--y_dim_x) + 5 * var(--z_dim_x)), calc(6 * var(--y_dim_y) + 5 * var(--z_dim_y)));
}

.x0y6z6 {
    transform: translate(-50%, -50%) translate(calc(6 * var(--y_dim_x) + 6 * var(--z_dim_x)), calc(6 * var(--y_dim_y) + 6 * var(--z_dim_y)));
}

.x0y6z7 {
    transform: translate(-50%, -50%) translate(calc(6 * var(--y_dim_x) + 7 * var(--z_dim_x)), calc(6 * var(--y_dim_y) + 7 * var(--z_dim_y)));
}

.x0y7z0 {
    transform: translate(-50%, -50%) translate(calc(7 * var(--y_dim_x) + 0 * var(--z_dim_x)), calc(7 * var(--y_dim_y) + 0 * var(--z_dim_y)));
}

.x0y7z1 {
    transform: translate(-50%, -50%) translate(calc(7 * var(--y_dim_x) + 1 * var(--z_dim_x)), calc(7 * var(--y_dim_y) + 1 * var(--z_dim_y)));
}

.x0y7z2 {
    transform: translate(-50%, -50%) translate(calc(7 * var(--y_dim_x) + 2 * var(--z_dim_x)), calc(7 * var(--y_dim_y) + 2 * var(--z_dim_y)));
}

.x0y7z3 {
    transform: translate(-50%, -50%) translate(calc(7 * var(--y_dim_x) + 3 * var(--z_dim_x)), calc(7 * var(--y_dim_y) + 3 * var(--z_dim_y)));
}

.x0y7z4 {
    transform: translate(-50%, -50%) translate(calc(7 * var(--y_dim_x) + 4 * var(--z_dim_x)), calc(7 * var(--y_dim_y) + 4 * var(--z_dim_y)));
}

.x0y7z5 {
    transform: translate(-50%, -50%) translate(calc(7 * var(--y_dim_x) + 5 * var(--z_dim_x)), calc(7 * var(--y_dim_y) + 5 * var(--z_dim_y)));
}

.x0y7z6 {
    transform: translate(-50%, -50%) translate(calc(7 * var(--y_dim_x) + 6 * var(--z_dim_x)), calc(7 * var(--y_dim_y) + 6 * var(--z_dim_y)));
}

.x0y7z7 {
    transform: translate(-50%, -50%) translate(calc(7 * var(--y_dim_x) + 7 * var(--z_dim_x)), calc(7 * var(--y_dim_y) + 7 * var(--z_dim_y)));
}

.x1y0z0 {
    transform: translate(-50%, -50%) translate(calc(0 * var(--z_dim_x) + 1 * var(--x_dim_x)), calc(0 * var(--z_dim_y) + 1 * var(--x_dim_y)));
}

.x2y0z0 {
    transform: translate(-50%, -50%) translate(calc(0 * var(--z_dim_x) + 2 * var(--x_dim_x)), calc(0 * var(--z_dim_y) + 2 * var(--x_dim_y)));
}

.x3y0z0 {
    transform: translate(-50%, -50%) translate(calc(0 * var(--z_dim_x) + 3 * var(--x_dim_x)), calc(0 * var(--z_dim_y) + 3 * var(--x_dim_y)));
}

.x4y0z0 {
    transform: translate(-50%, -50%) translate(calc(0 * var(--z_dim_x) + 4 * var(--x_dim_x)), calc(0 * var(--z_dim_y) + 4 * var(--x_dim_y)));
}

.x5y0z0 {
    transform: translate(-50%, -50%) translate(calc(0 * var(--z_dim_x) + 5 * var(--x_dim_x)), calc(0 * var(--z_dim_y) + 5 * var(--x_dim_y)));
}

.x6y0z0 {
    transform: translate(-50%, -50%) translate(calc(0 * var(--z_dim_x) + 6 * var(--x_dim_x)), calc(0 * var(--z_dim_y) + 6 * var(--x_dim_y)));
}

.x7y0z0 {
    transform: translate(-50%, -50%) translate(calc(0 * var(--z_dim_x) + 7 * var(--x_dim_x)), calc(0 * var(--z_dim_y) + 7 * var(--x_dim_y)));
}

.x0y0z1 {
    transform: translate(-50%, -50%) translate(calc(1 * var(--z_dim_x) + 0 * var(--x_dim_x)), calc(1 * var(--z_dim_y) + 0 * var(--x_dim_y)));
}

.x1y0z1 {
    transform: translate(-50%, -50%) translate(calc(1 * var(--z_dim_x) + 1 * var(--x_dim_x)), calc(1 * var(--z_dim_y) + 1 * var(--x_dim_y)));
}

.x2y0z1 {
    transform: translate(-50%, -50%) translate(calc(1 * var(--z_dim_x) + 2 * var(--x_dim_x)), calc(1 * var(--z_dim_y) + 2 * var(--x_dim_y)));
}

.x3y0z1 {
    transform: translate(-50%, -50%) translate(calc(1 * var(--z_dim_x) + 3 * var(--x_dim_x)), calc(1 * var(--z_dim_y) + 3 * var(--x_dim_y)));
}

.x4y0z1 {
    transform: translate(-50%, -50%) translate(calc(1 * var(--z_dim_x) + 4 * var(--x_dim_x)), calc(1 * var(--z_dim_y) + 4 * var(--x_dim_y)));
}

.x5y0z1 {
    transform: translate(-50%, -50%) translate(calc(1 * var(--z_dim_x) + 5 * var(--x_dim_x)), calc(1 * var(--z_dim_y) + 5 * var(--x_dim_y)));
}

.x6y0z1 {
    transform: translate(-50%, -50%) translate(calc(1 * var(--z_dim_x) + 6 * var(--x_dim_x)), calc(1 * var(--z_dim_y) + 6 * var(--x_dim_y)));
}

.x7y0z1 {
    transform: translate(-50%, -50%) translate(calc(1 * var(--z_dim_x) + 7 * var(--x_dim_x)), calc(1 * var(--z_dim_y) + 7 * var(--x_dim_y)));
}

.x0y0z2 {
    transform: translate(-50%, -50%) translate(calc(2 * var(--z_dim_x) + 0 * var(--x_dim_x)), calc(2 * var(--z_dim_y) + 0 * var(--x_dim_y)));
}

.x1y0z2 {
    transform: translate(-50%, -50%) translate(calc(2 * var(--z_dim_x) + 1 * var(--x_dim_x)), calc(2 * var(--z_dim_y) + 1 * var(--x_dim_y)));
}

.x2y0z2 {
    transform: translate(-50%, -50%) translate(calc(2 * var(--z_dim_x) + 2 * var(--x_dim_x)), calc(2 * var(--z_dim_y) + 2 * var(--x_dim_y)));
}

.x3y0z2 {
    transform: translate(-50%, -50%) translate(calc(2 * var(--z_dim_x) + 3 * var(--x_dim_x)), calc(2 * var(--z_dim_y) + 3 * var(--x_dim_y)));
}

.x4y0z2 {
    transform: translate(-50%, -50%) translate(calc(2 * var(--z_dim_x) + 4 * var(--x_dim_x)), calc(2 * var(--z_dim_y) + 4 * var(--x_dim_y)));
}

.x5y0z2 {
    transform: translate(-50%, -50%) translate(calc(2 * var(--z_dim_x) + 5 * var(--x_dim_x)), calc(2 * var(--z_dim_y) + 5 * var(--x_dim_y)));
}

.x6y0z2 {
    transform: translate(-50%, -50%) translate(calc(2 * var(--z_dim_x) + 6 * var(--x_dim_x)), calc(2 * var(--z_dim_y) + 6 * var(--x_dim_y)));
}

.x7y0z2 {
    transform: translate(-50%, -50%) translate(calc(2 * var(--z_dim_x) + 7 * var(--x_dim_x)), calc(2 * var(--z_dim_y) + 7 * var(--x_dim_y)));
}

.x0y0z3 {
    transform: translate(-50%, -50%) translate(calc(3 * var(--z_dim_x) + 0 * var(--x_dim_x)), calc(3 * var(--z_dim_y) + 0 * var(--x_dim_y)));
}

.x1y0z3 {
    transform: translate(-50%, -50%) translate(calc(3 * var(--z_dim_x) + 1 * var(--x_dim_x)), calc(3 * var(--z_dim_y) + 1 * var(--x_dim_y)));
}

.x2y0z3 {
    transform: translate(-50%, -50%) translate(calc(3 * var(--z_dim_x) + 2 * var(--x_dim_x)), calc(3 * var(--z_dim_y) + 2 * var(--x_dim_y)));
}

.x3y0z3 {
    transform: translate(-50%, -50%) translate(calc(3 * var(--z_dim_x) + 3 * var(--x_dim_x)), calc(3 * var(--z_dim_y) + 3 * var(--x_dim_y)));
}

.x4y0z3 {
    transform: translate(-50%, -50%) translate(calc(3 * var(--z_dim_x) + 4 * var(--x_dim_x)), calc(3 * var(--z_dim_y) + 4 * var(--x_dim_y)));
}

.x5y0z3 {
    transform: translate(-50%, -50%) translate(calc(3 * var(--z_dim_x) + 5 * var(--x_dim_x)), calc(3 * var(--z_dim_y) + 5 * var(--x_dim_y)));
}

.x6y0z3 {
    transform: translate(-50%, -50%) translate(calc(3 * var(--z_dim_x) + 6 * var(--x_dim_x)), calc(3 * var(--z_dim_y) + 6 * var(--x_dim_y)));
}

.x7y0z3 {
    transform: translate(-50%, -50%) translate(calc(3 * var(--z_dim_x) + 7 * var(--x_dim_x)), calc(3 * var(--z_dim_y) + 7 * var(--x_dim_y)));
}

.x0y0z4 {
    transform: translate(-50%, -50%) translate(calc(4 * var(--z_dim_x) + 0 * var(--x_dim_x)), calc(4 * var(--z_dim_y) + 0 * var(--x_dim_y)));
}

.x1y0z4 {
    transform: translate(-50%, -50%) translate(calc(4 * var(--z_dim_x) + 1 * var(--x_dim_x)), calc(4 * var(--z_dim_y) + 1 * var(--x_dim_y)));
}

.x2y0z4 {
    transform: translate(-50%, -50%) translate(calc(4 * var(--z_dim_x) + 2 * var(--x_dim_x)), calc(4 * var(--z_dim_y) + 2 * var(--x_dim_y)));
}

.x3y0z4 {
    transform: translate(-50%, -50%) translate(calc(4 * var(--z_dim_x) + 3 * var(--x_dim_x)), calc(4 * var(--z_dim_y) + 3 * var(--x_dim_y)));
}

.x4y0z4 {
    transform: translate(-50%, -50%) translate(calc(4 * var(--z_dim_x) + 4 * var(--x_dim_x)), calc(4 * var(--z_dim_y) + 4 * var(--x_dim_y)));
}

.x5y0z4 {
    transform: translate(-50%, -50%) translate(calc(4 * var(--z_dim_x) + 5 * var(--x_dim_x)), calc(4 * var(--z_dim_y) + 5 * var(--x_dim_y)));
}

.x6y0z4 {
    transform: translate(-50%, -50%) translate(calc(4 * var(--z_dim_x) + 6 * var(--x_dim_x)), calc(4 * var(--z_dim_y) + 6 * var(--x_dim_y)));
}

.x7y0z4 {
    transform: translate(-50%, -50%) translate(calc(4 * var(--z_dim_x) + 7 * var(--x_dim_x)), calc(4 * var(--z_dim_y) + 7 * var(--x_dim_y)));
}

.x0y0z5 {
    transform: translate(-50%, -50%) translate(calc(5 * var(--z_dim_x) + 0 * var(--x_dim_x)), calc(5 * var(--z_dim_y) + 0 * var(--x_dim_y)));
}

.x1y0z5 {
    transform: translate(-50%, -50%) translate(calc(5 * var(--z_dim_x) + 1 * var(--x_dim_x)), calc(5 * var(--z_dim_y) + 1 * var(--x_dim_y)));
}

.x2y0z5 {
    transform: translate(-50%, -50%) translate(calc(5 * var(--z_dim_x) + 2 * var(--x_dim_x)), calc(5 * var(--z_dim_y) + 2 * var(--x_dim_y)));
}

.x3y0z5 {
    transform: translate(-50%, -50%) translate(calc(5 * var(--z_dim_x) + 3 * var(--x_dim_x)), calc(5 * var(--z_dim_y) + 3 * var(--x_dim_y)));
}

.x4y0z5 {
    transform: translate(-50%, -50%) translate(calc(5 * var(--z_dim_x) + 4 * var(--x_dim_x)), calc(5 * var(--z_dim_y) + 4 * var(--x_dim_y)));
}

.x5y0z5 {
    transform: translate(-50%, -50%) translate(calc(5 * var(--z_dim_x) + 5 * var(--x_dim_x)), calc(5 * var(--z_dim_y) + 5 * var(--x_dim_y)));
}

.x6y0z5 {
    transform: translate(-50%, -50%) translate(calc(5 * var(--z_dim_x) + 6 * var(--x_dim_x)), calc(5 * var(--z_dim_y) + 6 * var(--x_dim_y)));
}

.x7y0z5 {
    transform: translate(-50%, -50%) translate(calc(5 * var(--z_dim_x) + 7 * var(--x_dim_x)), calc(5 * var(--z_dim_y) + 7 * var(--x_dim_y)));
}

.x0y0z6 {
    transform: translate(-50%, -50%) translate(calc(6 * var(--z_dim_x) + 0 * var(--x_dim_x)), calc(6 * var(--z_dim_y) + 0 * var(--x_dim_y)));
}

.x1y0z6 {
    transform: translate(-50%, -50%) translate(calc(6 * var(--z_dim_x) + 1 * var(--x_dim_x)), calc(6 * var(--z_dim_y) + 1 * var(--x_dim_y)));
}

.x2y0z6 {
    transform: translate(-50%, -50%) translate(calc(6 * var(--z_dim_x) + 2 * var(--x_dim_x)), calc(6 * var(--z_dim_y) + 2 * var(--x_dim_y)));
}

.x3y0z6 {
    transform: translate(-50%, -50%) translate(calc(6 * var(--z_dim_x) + 3 * var(--x_dim_x)), calc(6 * var(--z_dim_y) + 3 * var(--x_dim_y)));
}

.x4y0z6 {
    transform: translate(-50%, -50%) translate(calc(6 * var(--z_dim_x) + 4 * var(--x_dim_x)), calc(6 * var(--z_dim_y) + 4 * var(--x_dim_y)));
}

.x5y0z6 {
    transform: translate(-50%, -50%) translate(calc(6 * var(--z_dim_x) + 5 * var(--x_dim_x)), calc(6 * var(--z_dim_y) + 5 * var(--x_dim_y)));
}

.x6y0z6 {
    transform: translate(-50%, -50%) translate(calc(6 * var(--z_dim_x) + 6 * var(--x_dim_x)), calc(6 * var(--z_dim_y) + 6 * var(--x_dim_y)));
}

.x7y0z6 {
    transform: translate(-50%, -50%) translate(calc(6 * var(--z_dim_x) + 7 * var(--x_dim_x)), calc(6 * var(--z_dim_y) + 7 * var(--x_dim_y)));
}

.x0y0z7 {
    transform: translate(-50%, -50%) translate(calc(7 * var(--z_dim_x) + 0 * var(--x_dim_x)), calc(7 * var(--z_dim_y) + 0 * var(--x_dim_y)));
}

.x1y0z7 {
    transform: translate(-50%, -50%) translate(calc(7 * var(--z_dim_x) + 1 * var(--x_dim_x)), calc(7 * var(--z_dim_y) + 1 * var(--x_dim_y)));
}

.x2y0z7 {
    transform: translate(-50%, -50%) translate(calc(7 * var(--z_dim_x) + 2 * var(--x_dim_x)), calc(7 * var(--z_dim_y) + 2 * var(--x_dim_y)));
}

.x3y0z7 {
    transform: translate(-50%, -50%) translate(calc(7 * var(--z_dim_x) + 3 * var(--x_dim_x)), calc(7 * var(--z_dim_y) + 3 * var(--x_dim_y)));
}

.x4y0z7 {
    transform: translate(-50%, -50%) translate(calc(7 * var(--z_dim_x) + 4 * var(--x_dim_x)), calc(7 * var(--z_dim_y) + 4 * var(--x_dim_y)));
}

.x5y0z7 {
    transform: translate(-50%, -50%) translate(calc(7 * var(--z_dim_x) + 5 * var(--x_dim_x)), calc(7 * var(--z_dim_y) + 5 * var(--x_dim_y)));
}

.x6y0z7 {
    transform: translate(-50%, -50%) translate(calc(7 * var(--z_dim_x) + 6 * var(--x_dim_x)), calc(7 * var(--z_dim_y) + 6 * var(--x_dim_y)));
}

.x7y0z7 {
    transform: translate(-50%, -50%) translate(calc(7 * var(--z_dim_x) + 7 * var(--x_dim_x)), calc(7 * var(--z_dim_y) + 7 * var(--x_dim_y)));
}