body {
    background-color: #121212;
}

button {
    width: 12em;
}

input[type=number] {
    width: 12em;
}

.form-check-label {
    color: white;
}

select {
    width: 12em !important;
    margin: 0.5em 0 0 0.5em;
}

.multiselect-container {
    width: 100%;
}

.multiselect {
    margin: 0.5em 0 0 0.5em;
}

.col-left {
    float: left;
    width: 33%;
}

.col-mid {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}