body {
    background-color: #121212;
}

button {
    width: 10em;
    font-size: 1.5em !important;
}

input[type=number] {
    width: 10em;
    font-size: 1.5em;
}

input[type=checkbox] {
    width: 1.5em;
    height: 1.5em;
}

label {
    margin-left: 0.5em;
    font-size: 1.5em;
    color: white;
}

select {
    width: 10em !important;
    font-size: 1.5em;
    height: 2em !important;
    margin: 0.343em 0 0 0.343em;
}

table {
    font-size: 1.5em;
}

.multiselect-container {
    width: 100%;
}

.dropdown-item {
    width: 100% !important;
}

.multiselect {
    margin: 0 0.5em 0.5em;
}

.col-left {
    float: left;
    width: 33%;
}

.col-mid {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}